h1 {
  margin-bottom: 0;
  font-family: IBM Plex Sans;
  font-size: 4.625rem ;
  margin-top: 50px;

}

body {
  background-color: #f8f3eb ;
  margin-left: 0;
  text-align: center;
  font-family: IBM Plex Sans;

}

.top-container {
  background-color: #c3edea;
  padding-top: 100px;
  position: relative;
  text-align: center;

}

h3 {
  margin-top: 0;
  font-family: Gilroy Light;
  font-size: 2.0rem;
  font-weight: normal;

}

.bottom-cloud {
  position: absolute;
  left: 150px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 150px;
  top: 50px;
}

.skill2 {
  border-radius: 50%;
  width : 50%;
  margin-top: 30px;
}

.skills {
  width: 50% ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  margin-bottom: 75px;
  text-align: center;
  line-height: 2;
  }

  .middle-container {
    margin-top: 75px ;
    margin-bottom: 75px;
  }

hr {
  margin-top: 75px;
  border-style: dotted;
  margin-left: auto ;
  border-top: none;
  width: 10%;
  margin-right: auto ;
  border-radius: 75px;
}

h2 {
  font-family: Gilroy Semibold;
  font-size: 2.0rem;
}

.skill1 {

  border-radius: 50%;
  margin: auto;
  width: 50%;
}

.intro {
  width: 30% ;
  margin: auto ;
}
